.calendarWrapper {
  padding: 32px;
}

.footerWrapper {
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.rbc-event {
  background-color: rgb(120, 120, 243) !important;
}
.rbc-day-bg:hover {
  cursor: pointer;
}
.existingEventContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
