.main {
  background-color: #f1eff0;
  display: flex;
  flex-direction: column;
  gap: 64px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 16px;
}
.textContainer {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.6;
}

.LandingPageImageWrapper img {
  border-radius: 10px;
}

.LandingPageImageWrapper {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
.link {
  color: rgb(120, 120, 243);
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}
.introductionContainer {
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.6;
  border-left: 10px solid rgb(120, 120, 243);
  border-right: 10px solid rgb(120, 120, 243);
}

@media screen and (max-width: 768px) {
  .main {
    gap: 24px;
  }
  .container {
    flex-direction: column;
    gap: 24px;
  }
  .textContainer {
    width: 80vw;
  }
  .cards {
    flex-direction: column;
  }
}
