.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  color: white;
  padding: 16px;
  background-color: rgb(120, 120, 243);
}
.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  align-items: center;
}
.social {
  display: flex;
  gap: 16px;
  align-items: center;
}
