.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  color: black;
  width: 400px;
}

.input {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
}
