.modal {
  position: fixed;
  width: 398px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  max-height: 566px;
  box-shadow: 0px 0px 8px 0px #21243114;

  &::backdrop {
    background: hsl(0 0% 0% / 40%);
  }
  &:focus-within {
    outline: none;
  }

  .headerWrapper {
    padding: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .childWrapper {
    width: 100%;
    padding: 16px;
    max-height: 390px;
    overflow: auto;
    word-break: keep-all;
  }
}
